@model IEnumerable<eCommerceSite.Data.Card>

@{
    ViewData["Title"] = "Index";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/css/site.css">



<h1 class="text-center">Purchase a Card</h1>

@foreach (var card in Model)
{
    @*<div class="card col-sm-4 text-center">
            <img class="img" src="@card.ImageUrl" alt="Card image cap">

            <div class="card-body">
                <h2 class="card-title">@card.Name</h2>
                <p class="card-text">@card.Price.ToString("c")</p>
                <p class="card-text">@card.Description</p>

                <form class="form-inline" asp-action="add" asp-controller="CardTypes" method="get">
                    <label for="quantity">Quantity</label>
                    <input class="form-control" type="number" value="1" min="1" max="10" name="quantity">
                    <input type="hidden" value="@card.CardID" name="id" />
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Cart")'">Add To Cart</button>
                </form>
            </div>
        </div>*@


<div class="wrapper col-sm-6">
    <div class="product-img">
        <img src="@card.ImageUrl" height="420" width="327">
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>@card.Name</h1>
            @*<h2>by studio and friends</h2>*@
            <p>@card.Description</p>
        </div>
        <div class="product-price-btn">
            <p><span>@card.Price.ToString("c")</span>$</p>
            <button class="button" onclick="location.href='@Url.Action("Index", "Cart")'">buy now</button>
        </div>
    </div>
</div>
}

