@model IEnumerable<eCommerceSite.Data.Card>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center" >Purchase a Card</h1>

@foreach (var card in Model)
{
        <div class="card col-sm-4 text-center">
            <img class="img" src="@card.ImageUrl" alt="Card image cap">

            <div class="card-body">
                <h2 class="card-title">@card.Name</h2>
                <p class="card-text">@card.Price.ToString("c")</p>
                <p class="card-text">@card.Description</p>

                <form class="form-inline" asp-action="add" asp-controller="CardTypes" method="get">
                    <label for="quantity">Quantity</label>
                    <input class="form-control" type="number" value="1" min="1" max="10" name="quantity">
                    <input type="hidden" value="@card.CardID" name="id" />
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Cart")'">Add To Cart</button>
                </form>
            </div>
        </div>
}

