@model IEnumerable<eCommerceSite.Data.Card>

@{
    ViewData["Title"] = "Index";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="~/css/site.css">





@foreach (var card in Model)
{
    <div class="col-xs-12 col-sm-6">
        <div class="well">
            <div class="row">

                <div class="col-xs-12 col-lg-6">
                    <div class="product-img">
                        <img src="@card.ImageUrl" height="420" width="310">
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <h1>@card.Name</h1>
                    <p>@card.Description</p>
                    <p>@card.Price.ToString("c")</p>
                    <form class="form-inline" asp-action="add" asp-controller="CardTypes" method="get">
                        <div class="row" id="card-row">
                            <label for="quantity">Quantity</label>
                            <input class="inline-form-control" type="number" value="1" min="1" max="@card.Quantity" />
                        </div>
                        <input type="hidden" value="@card.CardID" name="id" />
                        <div class="product-price-btn">
                            <button class="button" onclick="location.href='@Url.Action("Index", "Cart")'">Buy Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
}

